// 全局設定 --------------------------------------------------
* {
  font-family: 'Noto Serif TC', serif;
}

// 頂端留白區
#myheader {
  height: 0;
  padding-left: 100px;
  @media (min-width: $breakpoint-lg) {
    height: 20vh;
  }
}

// 內容區
#mycontent {
  padding:20px 10px 0 10px;
  @media (min-width: $breakpoint-lg) {
    padding-left: 100px;
  }
}

.q-page-container {
  @media (min-width: $breakpoint-lg) {
    padding-right: 50px;
  }
}

// Sweetalert 背景樣式
.swal2-container .swal2-popup {
  background-color: $info;
  color: $primary;
  border-radius:0;
}

// Sweetalert 按鈕樣式
.swal2-container .swal2-actions .swal2-styled {
  background-color: $primary;
  color: $info;
  border-radius:0;
}

// .router-link 樣式設定
a {
  text-decoration: none;
  color: $secondary;
  &:hover {
    cursor: pointer;
    color: $accent !important;
  }
  &:visited {
    color: $secondary;
  }
}

// button 樣式設定
button {
  &:hover {
    color: $accent !important;
  }
}

// 側邊欄項目 樣式設定
.q-item {
  &:hover {
    color: $accent !important;
  }
}

// 在 移動裝置 隱藏
.mobile-none {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

// 在 桌機模式 隱藏
.desktop-none {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

// MainLayout.vue 設定 --------------------------------------------------
// 設定 法師 樣式
.master {
  font-size: 54px;
}

// sidebar 固定
.q-drawer {
  position: fixed;
}

// 隱藏 手風琴(q-expansion-item) 的預設箭頭
.q-item__section--side{
  display:none;
}

// 設定 手風琴展開項目 的樣式
.q-tooltip {
  background-color: rgba(0, 0, 0, 0);
  color: $secondary;
  font-size: 16px;
}

// IndexPage.vue 設定 --------------------------------------------------
// 設定 首頁輪播圖 樣式
#indexpage-img .q-carousel {
  width: 100%;
  height: 30vh;
  @media (min-width: $breakpoint-xs) {
    height: 45vh;
  }
  @media (min-width: $breakpoint-sm) {
    height: 50vh;
  }
  @media (min-width: $breakpoint-lg) {
    height: 70vh;
  }
}

// 設定 會員專區按鈕 樣式
// .q-fab__actions .q-btn:nth-child(3),
// .q-fab__actions .q-btn:nth-child(4),
// .q-fab__actions .q-btn:nth-child(5) {
//   margin-right: 18px;
//   margin-left: 18px
// }

// RegisterView.vue 設定 --------------------------------------------------
// 設定 註冊視窗 樣式
#register-form {
  width: 300px;
  height: 700px;
  @media (min-width: $breakpoint-xs) {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

// 設定 input 背景樣式
#register-form .q-field__control {
  background-color: $dark;
}

// 設定 input 文字樣式
#register-form .q-field__native {
  color: $secondary;
}

// 設定 radio 樣式
#register-form .q-radio__inner {
  color: $secondary;
}

// 設定 登入跳轉視窗 樣式
#register-login {
  width: 400px;
  height: 700px;
}

// 設定 密碼顯示/隱藏 樣式
.q-field__marginal {
  color: $secondary;
}

// LoginView.vue 設定 --------------------------------------------------
// 設定 註冊視窗 樣式
#login-form {
  width: 300px;
  height: 700px;
  @media (min-width: $breakpoint-xs) {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

// 設定 input 背景樣式
#login-form .q-field__control {
  background-color: $dark;
}

// 設定 input 文字樣式
#login-form .q-field__native {
  color: $secondary;
}

// 設定 radio 樣式
#login-form .q-radio__inner {
  color: $secondary;
}

// 設定 註冊跳轉視窗 樣式
#login-register {
  width: 400px;
  height: 700px;
  // background: url('https://cdn.quasar.dev/img/mountains.jpg') no-repeat center center/cover !important;
}

// AdminHomeView.vue 設定 --------------------------------------------------
// 頂端留白區 RWD
#adminHomeHeader {
  height: 10vh;
  padding-left: 100px;
  @media (min-width: 1200px) {
    height: 15vh;
  }
    @media (min-width: 1400px) {
    height: 20vh;
  }
}

// 內容區(card) RWD
#adminHome .q-card {
  width: 44vw;
  height: 44vw;
  @media (min-width: 1200px) {
    width: 40vh;
    height: 40vh;
  }
  @media (min-width: 1400px) {
    width: 50vh;
    height: 38vh;
  }
}

// card內文字 RWD
.adminHomeLayout .title {
  @media (min-width: $breakpoint-xs) {
    font-size: 6rem;
    font-weight: 300;
    line-height: 6rem;
    letter-spacing: -0.01562em;
  }
  @media (min-width: $breakpoint-sm) {
    font-size: 6rem;
    font-weight: 300;
    line-height: 6rem;
  }
  @media (min-width: $breakpoint-md) {
    font-size: 7rem;
    font-weight: 300;
    line-height: 7rem;
  }
  @media (min-width: $breakpoint-lg) {
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 3.75rem;
    letter-spacing: -0.00833em;
  }
}

// card內文字斷行 RWD
.adminHomeLayout .br {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

// card順序 RWD
.adminHomeLayout a {
  @media (min-width: $breakpoint-lg) {
    &:nth-child(1) {
      order: 1;
  }
    &:nth-child(2) {
      order: 4;
  }
    &:nth-child(3) {
      order: 2;
  }
    &:nth-child(4) {
      order: 5;
  }
    &:nth-child(5) {
      order: 3;
  }
    &:nth-child(6) {
      order: 6;
  }
  }
}
