// 全局設定 --------------------------------------------------
* {
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 0.06em;
  line-height: 1.8em;
}

// 背景漸層色
body {
  background: radial-gradient(circle at center, #322A28 70%, black 100%);
}

// 頂端留白區
#myheader {
  height: 0;
  padding-left: 100px;
  @media (min-width: $breakpoint-lg) {
    height: 50px;
  }
}

// 內容區
#mycontent {
  // height: auto;
  padding: 20px 10px 0 10px;
  @media (min-width: 1200px) {
    padding-left: 100px;
  }
}

// container 右側 padding
.q-page-container {
  // height: auto;
  // background: radial-gradient(circle at center, #322A28 50%, black 100%);
  @media (min-width: $breakpoint-lg) {
    padding-right: 100px;
  }
}

// Sweetalert 背景樣式
.swal2-container .swal2-popup {
  background-color: $info;
  color: $primary;
  border-radius:0;
}

// Sweetalert 按鈕樣式
.swal2-container .swal2-actions .swal2-styled {
  background-color: $primary;
  color: $info;
  border-radius:0;
}

// 設定 .router-link 樣式
a {
  text-decoration: none;
  color: $secondary;
  &:hover {
    cursor: pointer;
    color: $accent !important;
  }
  &:visited {
    color: $secondary;
  }
}

// 設定 button hover 樣式
button {
  &:hover {
    color: $accent !important;
  }
}

// 設定 側邊欄項目 hover visited 樣式
.q-item {
  &:hover {
    color: $accent !important;
  }
  &:visited {
    color: $secondary;
  }
}

// 設定 input 背景樣式
.q-field__control {
  background-color: $dark;
}


// 設定 搜尋外框線 樣式
.search .q-field__control  {
  // 顏色等於 secondary
  border: 1px solid rgba(202, 182, 158, 0.4);
}

// 設定 檔案上傳 背景樣式
.q-field__inner {
  background-color: $dark;
}

// 設定 檔案上傳 檔案大小文字顏色
.q-field__counter {
  color: $dark !important;
}

// 設定 input內 文字樣式
.q-field__native,
.q-field__counter {
  color: $secondary;
}

// 設定 表格 背景顏色、文字顏色 樣式
.q-table__card {
  background-color: $primary;
  color: $secondary;
}

// 設定 表格-標題 對齊、字體大小、字體顏色 樣式
.q-table__card th {
  text-align: center;
  font-size: large;
  color: $accent;
}

// 設定 表格-表頭+尾巴-RWD 顯示隱藏
.q-table__middle,
.q-table__bottom {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }
}

// 設定 表格-尾巴-內容 顯示位置
.q-table__bottom .q-table__control {
  height: auto;
  width: auto;
}

// 設定 表格-內容 字體大小 樣式
.q-table__card tbody td {
  font-size: medium;
}

// 設定 switch 滑桿底色 樣式
.q-toggle__track {
  background: #6C5E55;
}

// 設定 switch 滑桿 true 樣式
.q-toggle__inner--truthy .q-toggle__thumb:after {
  background-color: $primary;
}

// 設定 麵包屑 文字樣式
.q-breadcrumbs {
  color: $secondary;
}

// 設定彈出視窗背景
.q-dialog__backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

// 全局 密碼顯示/隱藏 樣式
.q-field__marginal {
  color: $secondary;
}

// 彈出視窗 RWD 尺寸
.q-dialog__inner--minimized > div {
  max-width: 85vw;
  @media (min-width: $breakpoint-sm) {
    max-width: 80vw;
  }
  @media (min-width: $breakpoint-lg) {
    max-width: 75vw;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: 70vw;
  }
}

@media (min-width: 1450px) {
  .row > .col-xxl-25 {
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-xxl-25 {
    flex: 0 0 auto;
  }
  .row > .col-xxl-25 {
    height: auto;
    width: 20%;
  }
}
@media (min-width: 1700px) {
  .row > .col-xxl-2 {
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
  }
  .row > .col-xxl-2 {
    height: auto;
    width: 16.6667%;
  }
}

// 全局 陰影
.shadow {
  box-shadow: 0px 0px 60px rgba(30, 25, 24, 1);
}

// 全局 陰影(白色)
.shadow-white {
  box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.1);
}

// font-size: calc([minf]px + ([maxf] - [minf]) * ( (100vw - [minw]px) / ([maxw] - [minw]) ));
// font-size: calc(0.8rem + 1.2 * ((100vw - 20rem) / 30));
// font-size: calc(16px + 6 * ((100vw - 350px) / 850));
// 文字 RWD
.text-sm-h6 {
  @media (min-width: 577px) {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125em;
  }
}

.text-lg-h5 {
  @media (min-width: 1200px) {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
  }
}

.text-xl-h3 {
  @media (min-width: 1400px) {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: 0.06em;
  }
}

.text-xl-h4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
}

.text-xl-h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal;
}

.text-xl-h6 {
  @media (min-width: 1400px) {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0.0125em;
  }
}
// 文字超過範圍自動換行
.text-wrap {
  // overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap:break-word;
}

// 內文多行省略 => https://codepen.io/tynadesigner/pen/ZEBGpGN
.text-hidden {
  overflow: hidden;
  // text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 3;  // 省略第n行後的文字
  -webkit-box-orient: vertical ;  // 設定元素是垂直布局
}

// 全局 字距
.spacing-h3 {
  letter-spacing: 0.2em
}
.spacing-h4 {
  letter-spacing: 0.15em
}
.spacing-h5 {
  letter-spacing: 0.12em
}
.spacing-h6 {
  letter-spacing: 0.1em
}
.spacing-h7 {
  letter-spacing: 0.08em
}

// 在 移動裝置(1199px含以下) 隱藏
.mobile-none {
  @media (max-width: 1199px) {
    display: none;
  }
}

// 在 桌機模式(1200px含以上) 隱藏
.desktop-none {
  @media (min-width: 1200px) {
    display: none;
  }
}

// 1400px 以下隱藏
.xl-none {
  display: block;
  @media (min-width: 475px) {
    display: none;
  }
  @media (min-width: 1201px) {
    display: block;
  }
  @media (min-width: 1385px) {
    display: none;
  }
}

// 只在 xs(575px以下) 尺寸顯示
.xs-show {
  @media (min-width: 576px) {
    display: none;
  }
}

// 只在 sm-lg(576px~1199px)尺寸顯示
.md-show {
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}



// MainLayout.vue 設定 --------------------------------------------------
// 設定 法師 樣式
.master {
  // text-h3
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.08em;
}

// 設定 事務所 樣式
.firm {
  // text-h4
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.008em;
}

// 設定 選單區 樣式
.list {
  // text-h6
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
}

// 設定 社群區樣式
.social {
  // text-h6
  @media (min-width: 1200px) {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125em;
  }
}

// sidebar 固定
.q-drawer {
  position: fixed;
}

// 隱藏 手風琴(q-expansion-item) 的預設箭頭
.q-item__section--side{
  display:none;
}

// 設定 手風琴展開項目 的樣式
.q-tooltip {
  background-color: rgba(0, 0, 0, 0);
  color: $secondary;
  font-size: 16px;
}

// IndexPage.vue 設定 --------------------------------------------------

// 設定 首頁 內容區高度、寬度
#indexPage #mycontent {
  @media (min-width: $breakpoint-lg) {
    height: 90vh;
    padding-left: 100px;
  }
}

#indexPage .line-height {
  @media (min-width: 1400px) {
    line-height: 1.9em;
  }
}

// 設定 首頁 輪播圖 樣式
#indexpage-img .q-carousel,
#introductionpage-img .q-carousel {
  width: 100%;
  height: 30vh;
  @media (min-width: $breakpoint-xs) {
    height: 45vh;
  }
  @media (min-width: $breakpoint-sm) {
    height: 50vh;
  }
  @media (min-width: $breakpoint-lg) {
    min-height: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    min-height: 84vh;
  }
}

// 設定 會員專區按鈕 樣式
// .q-fab__actions .q-btn:nth-child(3),
// .q-fab__actions .q-btn:nth-child(4),
// .q-fab__actions .q-btn:nth-child(5) {
//   margin-right: 18px;
//   margin-left: 18px
// }

// RegisterView.vue 設定 --------------------------------------------------
// 設定 註冊視窗 寬高 樣式
#register-form {
  width: 300px;
  height: 750px;
  @media (min-width: $breakpoint-xs) {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

// 設定 註冊 radio 樣式
#register-form .q-radio__inner {
  color: $secondary;
}

// 設定 登入跳轉視窗 樣式
#register-login {
  width: 400px;
  height: 750px;
}

// LoginView.vue 設定 --------------------------------------------------
// 設定 註冊視窗 樣式
#login-form {
  width: 300px;
  height: 750px;
  @media (min-width: $breakpoint-xs) {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

// 設定 input 背景樣式
#login-form .q-field__control {
  background-color: $dark;
}

// 設定 input 文字樣式
#login-form .q-field__native {
  color: $secondary;
}

// 設定 radio 樣式
#login-form .q-radio__inner {
  color: $secondary;
}

// 設定 註冊跳轉視窗 樣式
#login-register {
  width: 400px;
  height: 750px;
  // background: url('https://cdn.quasar.dev/img/mountains.jpg') no-repeat center center/cover !important;
}

// AdminHomeView.vue 設定 --------------------------------------------------
#adminHome .indexTitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal;
  @media (min-width: 460px) {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.00735em;
  }
  @media (min-width: 768px) {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: normal;
  }
}
// 頂端留白區 RWD
// #adminHomeHeader {
//   height: 10vh;
//   font-size: 3rem;
//   font-weight: 400;
//   line-height: 3.125rem;
//   letter-spacing: 0.2em;
//   padding-top: 30px;
//   // padding-left: 100px;
//   @media (min-width: 1200px) {
//     height: 15vh;
//     font-size: 3.75rem;
//     font-weight: 300;
//     line-height: 3.75rem;
//     padding-top: 50px;
//   }
//     @media (min-width: 1400px) {
//     height: 20vh;
//     font-size: 5rem;
//     font-weight: 300;
//     line-height: 5rem;
//     padding-top: 60px;
//   }
// }

// // 內容區(card) RWD
// #adminHome .q-card {
//   width: 44vw;
//   height: 44vw;
//   @media (min-width: 1183px) {
//     width: 35vh;
//     height: 40vh;
//   }
//   @media (min-width: 1300px) {
//     width: 39vh;
//     height: 40vh;
//   }
//   @media (min-width: 1400px) {
//     width: 40vh;
//     height: 38vh;
//   }
//   @media (min-width: 1500px) {
//     width: 45vh;
//     height: 38vh;
//   }
//   @media (min-width: 1600px) {
//     width: 50vh;
//     height: 38vh;
//   }
// }

// // card內文字 RWD
// .adminHomeLayout .title {
//   @media (min-width: $breakpoint-xs) {
//     font-size: 6rem;
//     font-weight: 300;
//     line-height: 6rem;
//     letter-spacing: -0.01562em;
//   }
//   @media (min-width: $breakpoint-sm) {
//     font-size: 6rem;
//     font-weight: 300;
//     line-height: 6rem;
//   }
//   @media (min-width: $breakpoint-md) {
//     font-size: 7rem;
//     font-weight: 300;
//     line-height: 7rem;
//   }
//   @media (min-width: 1183px) {
//     font-size: 3.75rem;
//     font-weight: 300;
//     line-height: 3.75rem;
//     letter-spacing: -0.00833em;
//   }
// }

// // card內文字斷行 RWD
// .adminHomeLayout .br {
//   @media (min-width: $breakpoint-lg) {
//     display: none;
//   }
// }

// // card順序 RWD
// .adminHomeLayout a {
//   @media (min-width: $breakpoint-lg) {
//     &:nth-child(1) {
//       order: 1;
//   }
//     &:nth-child(2) {
//       order: 4;
//   }
//     &:nth-child(3) {
//       order: 2;
//   }
//     &:nth-child(4) {
//       order: 5;
//   }
//     &:nth-child(5) {
//       order: 3;
//   }
//     &:nth-child(6) {
//       order: 6;
//   }
//   }
// }

// AdminProductView.vue 設定 --------------------------------------------------
// 設定 新增商品鈕 樣式
.createBtn {
  height: 42px;
  line-height: 2;
  margin-top: 7px;
}

// 設定 新增商品表單 樣式
#dialog {
  width: 75vw;
  @media (min-width: 1183px) {
    width: 60vw;
  }
}

// ProductView.vue 設定 --------------------------------------------------
// 設定 單一產品頁 商品輪播圖 寬度
#ProductView-img {
  width: 100%;
  @media (min-width: 1400px) {
    width: 60%;
  }
}

// 設定 單一產品頁 商品資訊區 寬度
#ProductView-content {
  width: 100%;
  @media (min-width: 1400px) {
    width: 40%;
  }
}

// 設定 訂購數量 的 input
#ProductView .q-field,
#ProductView .q-field__inner,
#ProductView .q-field__control,
#ProductView .q-field__native {
  height: 45px;
  background-color: $secondary;
  color: $dark;
}

// CartView.vue 設定 --------------------------------------------------
// 設定 表格-表頭+尾巴-RWD 顯示隱藏
#CartView .q-table__middle {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }
}

// 設定 表格-尾巴-RWD 顯示隱藏
#CartView .q-table__bottom {
  display: flex;
  color: $secondary;
  display: flex;
  justify-content: flex-end;
}

// 設定 表格-尾巴-內容 顯示位置
#CartView .q-table__bottom .q-table__control {
  height: auto;
  width: auto;
}

// Introduction.vue 設定 --------------------------------------------------
// 設定 本所簡介區塊順序 樣式
#introduction-content .myorder {
  @media (min-width: $breakpoint-lg) {
    &:nth-child(1) {
      order: 2;
    }
    &:nth-child(2) {
      order: 1;
    }
  }
}

// 設定 本所簡介 輪播圖 樣式
#introduction-img .q-carousel {
  width: 100%;
  height: 30vh;
  @media (min-width: $breakpoint-xs) {
    height: 45vh;
  }
  @media (min-width: $breakpoint-sm) {
    height: 50vh;
  }
  @media (min-width: $breakpoint-lg) {
    min-height: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    min-height: 84vh;
  }
}

// NewsView.vue 設定 --------------------------------------------------
// 設定 最新消息區塊順序 樣式
// #news-content .myorder {
//   @media (min-width: $breakpoint-lg) {
//     &:nth-child(1) {
//       order: 2;
//     }
//     &:nth-child(2) {
//       order: 1;
//     }
//   }
// }

// 設定 表格-身體 樣式
#news-content .q-table__middle {
  display: block;
}

// 設定 表格-尾巴-RWD 顯示隱藏
#news-content .q-table__bottom {
  color: $secondary;
  display: flex;
  justify-content: flex-end;
  border-top: 0px;
}

// 設定 表格-尾巴-內容 顯示位置
#news-content .q-table__bottom .q-table__control {
  height: auto;
  width: auto;
}

// 設定 最新消息 輪播圖 樣式
#news-img .q-carousel {
  width: 100%;
  height: 30vh;
  @media (min-width: $breakpoint-xs) {
    height: 45vh;
  }
  @media (min-width: $breakpoint-sm) {
    height: 50vh;
  }
  @media (min-width: $breakpoint-lg) {
    min-height: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    min-height: 84vh;
  }
}

// KnowledgesView.vue 設定 --------------------------------------------------
// 設定 表格-身體 樣式
#knowledges-content .q-table__middle {
  display: block;
}

// 設定 表格-尾巴-RWD 顯示隱藏
#knowledges-content .q-table__bottom {
  color: $secondary;
  display: flex;
  justify-content: flex-end;
  border-top: 0px;
}

// 設定 表格-尾巴-內容 顯示位置
#knowledges-content .q-table__bottom .q-table__control {
  height: auto;
  width: auto;
}

// 設定 最新消息 輪播圖 樣式
#knowledges-img .q-carousel {
  width: 100%;
  height: 30vh;
  @media (min-width: $breakpoint-xs) {
    height: 45vh;
  }
  @media (min-width: $breakpoint-sm) {
    height: 50vh;
  }
  @media (min-width: $breakpoint-lg) {
    min-height: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    min-height: 84vh;
  }
}

// CasesView.vue 設定 --------------------------------------------------
// 設定 表格-身體 樣式
#cases-content .q-table__middle {
  display: block;
}

// 設定 表格-尾巴-RWD 顯示隱藏
#cases-content .q-table__bottom {
  color: $secondary;
  display: flex;
  justify-content: flex-end;
  border-top: 0px;
}

// 設定 表格-尾巴-內容 顯示位置
#cases-content .q-table__bottom .q-table__control {
  height: auto;
  width: auto;
}

// 設定 最新消息 輪播圖 樣式
#cases-img .q-carousel {
  width: 100%;
  height: 30vh;
  @media (min-width: $breakpoint-xs) {
    height: 45vh;
  }
  @media (min-width: $breakpoint-sm) {
    height: 50vh;
  }
  @media (min-width: $breakpoint-lg) {
    min-height: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    min-height: 84vh;
  }
}

// ServiceView.vue 設定 --------------------------------------------------
// 設定 單一產品頁 商品輪播圖 寬度
#ServiceView-img {
  width: 100%;
  @media (min-width: 1400px) {
    width: 60%;
  }
}

// 設定 單一產品頁 商品資訊區 寬度
#ServiceView-content {
  width: 100%;
  @media (min-width: 1400px) {
    width: 40%;
  }
}

// 設定 訂購數量 的 input
#ServiceView .q-field,
#ServiceView .q-field__inner,
#ServiceView .q-field__control,
#ServiceView .q-field__native {
  height: 45px;
  background-color: $secondary;
  color: $dark;
}